@{
    ViewBag.Title = "Home Page";
}
    <nav class="navbar navbar-light bg-info">
        <form class="form-inline">
            <div class="input-group">
                <a class="btn btn-primary" href=@Url.Action("Login","Users")>Login</a>
            </div>
        </form>
    </nav>



<div id="root">

</div>


<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<div id="myModal" class="modal">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="mainDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>
<script>
    $.ajax({
        url: '/Home/GetRootsPartial',
        success: function (data) {
            $("#root").append(data);
        },
        error: function (e) {
            console.log(e)
        }
    })
    $("#mainDeleteBtn").on("click", function () {
        var itemDelId = this.getAttribute("data-delItemId");
        $.ajax({
            url: "/Home/DeleteElement",
            data: { treeElementGuid: itemDelId },
            success: function (e) {
                console.log(e)
                $("[data-id=" + e.Guid + "]").remove();
            },
            complete: function (e) {
                $("#myModal").modal('toggle')
            }
        })
    })
</script>

<script src="~/Scripts/Custom/TreeShower.js"></script>